* {
  box-sizing: border-box;
  padding: 0 !important;
}

.navbar-div {
  background-color: transparent;
  font-family: Raleway, sans-serif;
}

.navbar-div a {
  color: white;
}

.brand {
  font-size: 30px;
}

.nav-items {
  justify-content: end;
}

.nav-links {
  gap: 20px;
  align-items: center;
  color: white;
}

.tickets {
  border-radius: 5px;
  padding: 0 10px !important;
  background-color: rgb(11, 100, 8);
  border: none;
  outline: none;
  color: white;
}

.home a {
  color: white !important;
}

.tickets a:hover {
  color: white !important;
}

.tickets a {
  color: white;
}

.hero {
  width: 100%;
  min-height: 90vh;
  background: url("./images/cyber.jpg");
  background-position: center;
  background-size: cover;
}

.event-name {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin-top: 100px !important;
}

.event-name h1 {
  font-size: 70px;
  text-align: center;
  font-family: Raleway, san-serif;
  font-weight: bold;
}

.summit {
  color: rgb(11, 100, 8);
}

.event-name p {
  font-size: 23px;
  font-family: Raleway, san-serif;
}

.rsvp-btn {
  text-decoration: none;
  border: 0;
  padding: 10 40px !important;
  border-radius: 5px;
  background-color: rgb(11, 100, 8);
  color: white;
  margin-top: 40px;
}

.rsvp-btn:hover {
  color: white !important;
}

.info {
  gap: 90px;
}

.image1 {
  background: url("./images/info1.jpg");
  border-radius: 20px;
}

.details {
  flex-direction: column;
}

.details h3 {
  color: rgb(11, 100, 8);
}

.details p {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

.speaker-title {
  text-align: center;
  font-family: Raleway, sans-serif;
  margin-top: 80px;
  font-size: 60px;
  font-weight: bold;
  color: rgb(11, 100, 8);
}

.speaker-div {
  justify-content: space-evenly;
}

.speaker {
  font-family: Raleway, sans-serif;
}

.speaker-image {
  width: 500px;
  height: 500px;
}

.name {
  font-weight: bold;
  font-size: larger;
}

.position {
  margin-top: -10px;
}

.event-image {
  width: 600px;
  height: 360px;
}

@media (max-width: 968px) {
  .info {
    flex-direction: column;
  }

  .event-name p {
    margin: 40px;
    text-align: center;
  }

  .event-name {
    margin-top: 150px !important;
  }

  .event-name h1 {
    font-size: 40px;
    margin: 20px;
  }

  .event-image {
    width: 100vw;
  }

  .speaker-div {
    flex-direction: column;
  }

  .details {
    margin: 20px;
  }

  .nav-items {
    margin-top: 10px;
  }

  .countdown-timer {
    font-size: 60px;
  }

  .info {
    gap: 20px;
  }

  .speaker-image {
    width: 95%;
    height: 50vh ;
    border-radius: 10px;
  }
}
